@import includes

body
    background-color: $bg-color
    font-family: $open-sans
    font-weight: 400

// ------ Headings classes ------

h1
    display: none

h2
    font-family: $open-sans
    font-weight: 300
    font-size: 50px
    line-height: 60px
    color: $black-color
    margin: 30px 0 10px 0
    padding: 0
    text-align: center

    span
        color: $orange-color
        font-family: $bree-serif

p
    font-family: $open-sans
    font-weight: 300
    font-size: 16px
    line-height: 25px
    color: $black-color
    margin: 0
    padding: 0

    span
        color: $orange-color
        font-family: $bree-serif

    &.leading
        font-size: 22px



// ------ Standard classes ------
.wrapper
    width: 100%
    display: inline-block
    float: left
    position: relative
    padding: 130px 0
    overflow: visible

    &.wrapper-white
        border-top: 1px solid $gray-line-color
        margin-top: 1px
        border-bottom: 1px solid $gray-line-color
        margin-bottom: 1px
        background-color: $bg-color

    &.wrapper-gray
        background-color: $gray-lightest-color

    &.small-padding-top
        padding-top: 80px !important

.align-center
    text-align: center
    margin: 0 auto

a:hover,
btn:hover
    transition: 0.25s
    -ms-transition: 0.25s
    -moz-transition: 0.25s
    -webkit-transition: 0.25s

.relative
    position: relative

// ------ Site elements classes ------

.logo
    display: inline-block
    position: absolute
    left: calc(50% - 45px)
    top: 30px
    background-image: $logo-image
    background-size: 100%
    background-position: center
    background-repeat: no-repeat
    height: 100px
    width: 100px

.icon-down
    width: 30px
    height: 30px
    display: block
    background-image: $icon-down
    background-size: 100%
    background-position: center
    background-repeat: no-repeat

span.nav-phrase
    height: 30px
    margin: 50px 0 10px 0
    padding: 0
    line-height: 30px
    font-size: 22px
    font-family: $open-sans
    font-weight: 300
    color: $gray-color
    display: block
    position: relative

    &:before,
    &:after
        content: ''
        width: 1px
        background-color: $black-color
        position: absolute
        left: calc(50% - 1px)
        z-index: 999

    &:before
        height: 30px
        top: -40px

    &:after
        height: 252px
        top: 80px
        


// ------ Menu classes ------

nav.main-nav
    display: inline-block
    height: 160px
    border-bottom: 1px solid $gray-line-color
    margin-bottom: 1px
    padding: 0 !important

    ul
        position: absolute
        width: auto
        height: 30px
        top: 65px
        left: calc(50% + 80px)
        padding: 0
        margin: 0

        li.menu-item
            list-style-type: none
            padding: 0 0 10px 0
            margin: 0 40px 0 0
            display: inline-block
            float: left
            height: 30px
            font-weight: 300

            &.current
                border-bottom: 2px solid $orange-color
                
                a
                    color: $black-color
                    font-weight: 600
                    
                    &:hover
                        color: $gray-light-color


            a
                line-height: 20px
                font-size: 17px
                color: $gray-light-color
                text-decoration: none

                &:hover
                    color: $orange-color


        
    