@import default

p
    font-weight: 400

.wrapper
    
    &.empty-page
        margin-top: 40px

        h2
            font-size: 35px
            line-height: 35px

    &.app-page
        margin: 0
        padding-top: 0

        h2
            font-size: 35px
            line-height: 35px

.early-access
    display: none !important

.app-container
    width: auto!important
