@import default

p
    padding: 0

// ------ Header classes ------

header
    margin-top: 160px
    height: 471px
    width: 100%
    padding: 0 !important
    background-image: $header-image
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    overflow: visible
    z-index: 99 !important

    .header-phone
        width: 230px
        height: 480px
        display: inline-block
        position: absolute
        top: 60px
        left: calc(50% - 118px)
        background-image: $header-phone-image
        background-size: 100%
        background-repeat: no-repeat
        z-index: 98

    .header-phone-screen
        width: 194px
        height: 244px
        display: inline-block
        position: absolute
        top: 196px
        left: calc(50% - 98px)
        background-image: $header-phone-content-image
        background-size: 100%
        background-position-x: center
        background-position-y: 0
        background-repeat: no-repeat
        overflow: hidden
        z-index: 99

    .header-payoff
        width: 360px
        height: auto
        display: inline-block
        position: absolute
        top: 155px
        left: calc(50% - 535px)
        margin: 0

        span
            width: 100%
            color: white
            display: inline-block
            text-align: right
            font-family: $bree-serif
            font-size: 68px
            line-height: 80px
            height: 80px

            &:last-child
                color: $black-color

// ------ Section one classes ------

.content-phone-container
    margin-top: 60px
    opacity: 0
    filter: alpha(opacity=0)

    p
        margin-top: 30px

    img
        width: 70%
        margin: 0 15%

    .phone-border
        height: 2px
        width: calc(70% + 20px)
        display: block
        margin: 0 auto
        background-color: $gray-line-color

// ------ Section two classes ------

.mockup-phone
    margin-top: 30px
    opacity: 0
    filter: alpha(opacity=0)

    img
        width: 100%

.mockup-phone-legend
    position: absolute
    left: 15px
    bottom: 0
    opacity: 0
    filter: alpha(opacity=0)

    ul
        list-style-type: none
        margin: 0
        padding: 0

        li
            text-align: left
            padding: 0
            height: 30px
            line-height: 30px
            margin-top: 30px
            font-size: 16px
            font-weight: 300

            &:first-child
                margin-top: 0

            span
                color: $orange-color
                font-family: $bree-serif

                &.bullet
                    width: 30px
                    height: 30px
                    line-height: 33px
                    text-align: center
                    border-radius: 15px
                    -ms-border-radius: 15px
                    -moz-border-radius: 15px
                    -webkit-border-radius: 15px
                    display: inline-block
                    float: left
                    margin-right: 15px
                    background-color: $gray-light-color
                    color: white


// ------ Section three classes ------

.conversation-title
    z-index: 999

.phone-blur-container
    margin: 40px 0 10px 0
    background-image: url('../images/content-phone-blur.png')
    background-position: center
    background-repeat: no-repeat
    background-size: 230px
    height: 480px
    display: block
    width: 100%

.conversation-timeline
    position: absolute
    height: auto
    width: 3px
    background-color: white
    display: block
    left: calc(50% - 200px)
    top: 0
    bottom: 0

.conversation-timeline-content
    position: relative
    width: 500px
    height: 480px
    margin: 0 auto
    z-index: 999
    -ms-transform: translate(0px, 50x)
    -moz-transform: translate(0px, 50px)
    -webkit-transform: translate(0px, 50px)

    .conversation-item
        margin-bottom: 40px
        padding: 0 115px
        position: relative

        &:first-child 
            margin-top: 40px

        span
            width: 100%
            display: block
            text-align: left

            &.conversation-name,
            &.conversation-event
                font-size: 18px
                font-weight: 600

            &.conversation-event
                color: $gray-light-color

            &.conversation-message
                font-size: 18px
                font-weight: 400

            &.conversation-detail
                font-size: 14px
                font-weight: 300

        .conversation-bullet
            background-color: #e5e0e0
            border: 3px solid white
            display: block
            position: absolute

            &.small
                width: 21px
                height: 21px
                border-radius: 11px
                -ms-border-radius: 11px
                -moz-border-radius: 11px
                -webkit-border-radius: 11px
                left: 41px
                top: calc(50% - 10px)

                &:before
                    content: ''
                    height: 2px
                    width: 45px
                    background-color: white
                    display: block
                    position: absolute
                    top: 7px
                    left: 16px

        .conversation-image
            width: 100px
            height: 100px
            border-radius: 50px
            -ms-border-radius: 50px
            -moz-border-radius: 50px
            -webkit-border-radius: 50px
            background-repeat: no-repeat
            background-size: cover
            background-position: center
            position: absolute
            top: 0

            &.first
                background-image: url('../images/conversation-dude.jpg')
                right: 0

            &.second
                background-image: url('../images/conversation-britta.jpg')
                left: 2px

            &.third
                background-image: url('../images/conversation-map.jpg')
                left: 2px
                border: 3px solid white
.form-container
    margin-top: 40px
    
    form
        opacity: 0
        filter: alpha(opacity=0)
        width: 300px
        margin: 0 auto 80px auto
        position: relative


        .flash
            position: absolute
            left: 0
            top: 0
            height: 100%
            width: 300px
            display: block
            z-index: 999
            display: none
            padding: 40px
            font-weight: 600

            p
                font-size: 20px
                line-height: 30px

            &.error
                background-color: rgba(248,248,248,0.75)

            &.success
                background-color: rgba(248,248,248,0.75)

        .input
            margin: 0 auto 20px auto
            width: 300px
            min-height: 40px
            position: relative
            display: block

            &.disabled
                opacity: 0.5
                filter: alpha(opacity=50)
                pointer-events: none
                cursor: default

            label
                display: none
                width: 100%
                float: left
                text-align: center

            span
                color: $gray-light-color
                margin: 0
                padding: 0
                display: block
                font-size: 16px

                &.small
                    font-size: 12px
                    margin-top: 5px
            
            .form-control

                &:focus
                    outline: 0
                    -webkit-box-shadow: none
                    -moz-box-shadow: none
                    -ms-box-shadow: none
                    box-shadow: none
                    border: 2px solid $orange-color
                    transition: 0.25s
                    -ms-transition: 0.25s
                    -moz-transition: 0.25s
                    -webkit-transition: 0.25s
            input
                border: 2px solid $gray-color
                height: 40px
                border-radius: 20px
                -ms-border-radius: 20px
                -moz-border-radius: 20px
                -webkit-border-radius: 20px
                width: 300px
                background-color: white
                padding: 10px 20px
                font-size: 16px
                line-height: 20px

                &.submit
                    border: 2px solid $orange-color
                    font-family: $bree-serif
                    color: $orange-color
                    font-size: 18px
                    width: auto !important
                    padding: 10px 20px
                    line-height: 20px
                    margin-top: 20px

                    &:hover
                        background-color: $orange-color
                        color: white

                    &:focus
                        outline: 0
                        -webkit-box-shadow: none
                        -moz-box-shadow: none
                        -ms-box-shadow: none
                        box-shadow: none
                        border: 2px solid $orange-color
                        transition: 0.25s
                        -ms-transition: 0.25s
                        -moz-transition: 0.25s
                        -webkit-transition: 0.25s

        .checkbox
            height: 20px
            line-height: 20px
            padding: 0

            input
                width: 15px
                height: 15px
                float: left
                margin: 2px 0

            span
                float: left
                margin-left: 20px
                height: 20px
                line-height: 20px

            .form-control

                &:focus
                    outline: 0
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 107, 57, 0.6)
                    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 107, 57, 0.6)
                    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 107, 57, 0.6)
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 107, 57, 0.6)
                    border: none
                    transition: 0.25s
                    -ms-transition: 0.25s
                    -moz-transition: 0.25s
                    -webkit-transition: 0.25s

