<!DOCTYPE html>
<html>
	<!--
	 _            _          _ ____   ___  _____ 
	| |          | |        | |___ \ / _ \| ____|
	| |      __ _| |__   ___| | __) | |_| | |__  
	| |     / _` | '_ \ / _ \ ||__ <|     |___ \ 
	| |____| (_| | |_) |  __/ |___) |     |___) |
	|______|\__,_|_.__/ \___|_|____/ \___/|____/ 

	-->
	<head>
	{% if page.title contains 'Clickin' %}
		<title>{{ page.title }}</title>
	{% else %}
		<title>{{ site.name }} - {{ page.title }}</title>
	{% endif %}
		<meta name="description" content="{{ page.description }}" />
		<meta name="keywords" content="{{ page.keywords }}" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
		<meta name="author" content="Olav Peuscher" />

		<!-- All favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/icons/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/icons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#1ebab8">
		<meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">

		<!--[if lt IE 9]>
		<script type="text/javascript" src="/js/lib/html5shiv.js"></script>	
		<link rel="stylesheet" type="text/css" href="/css/ie.not.passed.css" />	
		<![endif]-->

		<!--Webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,600,400' rel='stylesheet' type='text/css'>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/css/ui.css" />
	{% for css_name in page.css %}
	    <link rel="stylesheet" type="text/css" href="/css/{{ css_name }}?v=1">
	{% endfor %}
	</head>
	<body>
		<!--HEADER-->
			<nav class="wrapper header-large">
				<a href="/" class="logo"></a>

				<div data-scroll-goto="4" class="early-access nav">Get early access</div>

				{% assign current = page.url | downcase | split: '/' %}
				
				<ul id="home-menu">
						<li data-scroll-goto="0" class="menu-item {% if current[0] == '' %}current{% endif %}">Home</li>
						<li id="clickin-app-menu-item" data-scroll-goto="1" class="menu-item">Clickin app</li>
						<li id="contact-menu-item" data-scroll-goto="5" class="menu-item">Contact</li>
				</ul>

				<ul id="page-menu" class="hidden">
						<li class="menu-item"><a href="/#home">Home</a></li>
						<li class="menu-item"><a href="/#app">Clickin app</a></li>
						<li data-scroll-goto="5" class="menu-item">Contact</li>
				</ul>
			</nav>
			
			{{ content }}

		<!--FOOTER -->
		<footer data-scroll-index="5" class="wrapper wrapper-gray">
			<div class="container footer-content-container">
				<div class="row">
					<div class="col-xs-12">
						<h2>Follow <span>Clickin.</span></h2>
						<p class="leading align-center">
							On Facebook and Twitter.
						</p>
					</div>

					<div class="col-xs-12 align-center">
						<div class="social-logos">
							<a href="https://www.facebook.com/pages/Clickin/624147367698540" target="_blank" class="social-logo fb"></a>
							<a href="https://twitter.com/LetsClickin" target="_blank" class="social-logo twitter"></a>
						</div>
						<div class="store-logo app-store"></div>
						<div class="store-logo google-play"></div>
					</div>
					<div class="col-xs-12 align-center">
						<div class="footer-links">
							<span>Say hello at <a href="mailto:hello@clickin.co">hello@clickin.co</a></span>
							<span>Our <a href="/privacy-policy/">privacy policy</a> and <a href="/terms-of-service/">terms of service</a></span>
							<span>Developed with love by <a href="http://www.label305.com" target="_blank">Label305</a></span>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!--Scripts-->
		<script type="text/javascript" src="../js/lib/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="../js/main.js"></script>
		<script type="text/javascript" src="../js/lib/scrollit.min.js"></script>
		<script type="text/javascript" src="../js/lib/jquery-ui-1.11.1.js"></script>
		<script type="text/javascript" src="../js/lib/fancySelect.js"></script>
		<script type="text/javascript" src="../js/early-access.js"></script>
	</body>
</html>
