<!DOCTYPE html>
<html>
	<!--
	 _            _          _ ____   ___  _____
	| |          | |        | |___ \ / _ \| ____|
	| |      __ _| |__   ___| | __) | |_| | |__
	| |     / _` | '_ \ / _ \ ||__ <|     |___ \
	| |____| (_| | |_) |  __/ |___) |     |___) |
	|______|\__,_|_.__/ \___|_|____/ \___/|____/

	-->
	<head>
		<title>{{ site.name }} - The app to go do something fun, right now!</title>
		<meta name="description" content="The app that effortlessly connects you to people who want to meetup and do something fun. They could be your best friends, acquaintances or people you meet through Clickin. You decide who!" />
		<meta name="keywords" content="clickin, click in, ios, app, social discovery, facebook" />

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<meta name="apple-itunes-app" content="app-id=933949324">

		<!-- All favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/icons/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/icons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#1ebab8">
		<meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">

		<!--[if lt IE 9]>
		<script type="text/javascript" src="/js/lib/html5shiv.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/ie.not.passed.css" />
		<![endif]-->

		<!--Webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,600,400' rel='stylesheet' type='text/css'>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/css/ui.css" />
	{% for css_name in page.css %}
	    <link rel="stylesheet" type="text/css" href="/css/{{ css_name }}?v=1">
	{% endfor %}
	</head>
	<body>
		<!--HEADER-->
			<nav class="wrapper header-large">
				<a href="/" class="logo"></a>

				<div data-scroll-goto="4" class="early-access nav">Stay updated</div>

				{% assign current = page.url | downcase | split: '/' %}

				<ul id="home-menu">
						<li data-scroll-goto="0" class="menu-item {% if current[0] == '' %}current{% endif %}">Home</li>
						<li id="clickin-app-menu-item" data-scroll-goto="1" class="menu-item">Clickin app</li>
						<li class="menu-item"><a href="https://clickin-app.uservoice.com">Support</a></li>
						<li class="menu-item"><a href="mailto:hello@clickin.co">Contact</a></li>
				</ul>

				<ul id="page-menu" class="hidden">
						<li class="menu-item"><a href="/#home">Home</a></li>
						<li class="menu-item"><a href="/#app">Clickin app</a></li>
						<li class="menu-item"><a href="https://clickin-app.uservoice.com">Support</a></li>
						<li class="menu-item"><a href="mailto:hello@clickin.co">Contact</a></li>
				</ul>
			</nav>

			{{ content }}

		<!--FOOTER -->
		<footer data-scroll-index="5" class="wrapper wrapper-gray">
			<div class="container footer-content-container">
				<div class="row">
					<div class="col-xs-12">
						<h2>Follow <span>Clickin.</span></h2>
						<p class="leading align-center">
							On Facebook and Twitter.
						</p>
					</div>

					<div class="col-xs-12 align-center">
						<div class="social-logos">
							<a href="https://www.facebook.com/pages/Clickin/624147367698540" target="_blank" class="social-logo fb"></a>
							<a href="https://twitter.com/LetsClickin" target="_blank" class="social-logo twitter"></a>
						</div>
						<div class="store-logo app-store"></div>
						<div class="store-logo google-play"></div>
					</div>
					<div class="col-xs-12 align-center">
						<div class="footer-links">
							<span>Say hello at <a href="mailto:hello@clickin.co">hello@clickin.co</a></span>
							<span>Our <a href="/privacy-policy/">privacy policy</a> and <a href="/terms-of-service/">terms of service</a></span>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!--Scripts-->
		<script type="text/javascript" src="../js/lib/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../js/main.js"></script>
		<script type="text/javascript" src="../js/lib/scrollit.min.js"></script>
		<script type="text/javascript" src="../js/lib/jquery-ui-1.11.1.js"></script>
		<script type="text/javascript" src="../js/early-access.js"></script>

		<script>
	          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	          ga('create', 'UA-56279686-2', 'auto');
	          ga('send', 'pageview');

	        </script>
	</body>
</html>
