<!DOCTYPE html>
<html>
	<!--
	 _            _          _ ____   ___  _____ 
	| |          | |        | |___ \ / _ \| ____|
	| |      __ _| |__   ___| | __) | |_| | |__  
	| |     / _` | '_ \ / _ \ ||__ <|     |___ \ 
	| |____| (_| | |_) |  __/ |___) |     |___) |
	|______|\__,_|_.__/ \___|_|____/ \___/|____/ 

	-->
	<head>
	{% if page.title contains 'Clickin' %}
		<title>{{ page.title }}</title>
	{% else %}
		<title>{{ site.name }} - {{ page.title }}</title>
	{% endif %}
		<meta name="description" content="{{ page.description }}" />
		<meta name="keywords" content="{{ page.keywords }}" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
		<meta name="author" content="Olav Peuscher" />

		<!-- All favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/icons/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/icons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#1ebab8">
		<meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">

		<!--[if lt IE 9]>
		<script type="text/javascript" src="/js/lib/html5shiv.js"></script>	
		<link rel="stylesheet" type="text/css" href="/css/ie.not.passed.css" />	
		<![endif]-->

		<!--Webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,600,400' rel='stylesheet' type='text/css'>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/css/ui.css" />
	{% for css_name in page.css %}
	    <link rel="stylesheet" type="text/css" href="/css/{{ css_name }}?v=1">
	{% endfor %}
	</head>
	<body>
		<!--HEADER-->
			<nav class="wrapper header-large">
				<div class="logo"></div>

				<div class="app-store nav small"></div>
				<div class="app-store nav big"></div>

				{% assign current = page.url | downcase | split: '/' %}
				<ul>
					<li id="say-hello" data-scroll-goto="0" class="menu-item">Say hello</li>
					<li id="about" data-scroll-goto="1" class="menu-item">About</li>
					<li id="access" data-scroll-goto="3" class="menu-item">Early access</li>
					<!-- <li class="menu-item {% if current[1] == '' %}current{% endif %}"><a href="/">Press</a></li> -->
				</ul>
			</nav>
			
			{{ content }}

		<!--FOOTER -->
		<footer class="wrapper wrapper-gray align-center">
			<div class="footer-content-wrapper">
				<div class="email"><p><span>Sales:</span> sales@clickin.com</p></div>
				<div class="footer-logo"></div>
				<div class="email"><p><span>Press:</span> press@clickin.com</p></div>
			</div>
		</footer>

		<!--Scripts-->
		<script type="text/javascript" src="/js/lib/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/lib/scrollit.min.js"></script>
		<script type="text/javascript" src="js/lib/jquery-ui-1.11.1.js"></script>
		<script type="text/javascript" src="js/lib/fancySelect.js"></script>
		<script type="text/javascript" src="js/early-access.js"></script>
	</body>
</html>
